<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" >
    <title>Attendance</title>
</head>
<body>
<header>
    <h1 th:text="${welcomeString}"> Welcome in the Hell</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Is present</th>
            <th>Worked hours</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendance : ${attendances}">
            <td th:text="${attendance.getName()}"></td>
            <td th:text="${attendance.isPresent()}"></td>
            <td th:text="${attendance.getWorkedHours()}"></td>
            <td th:text="${attendance.getDate()}"></td>
            <td>
                <!--                <a th:href="|/bird-details/${bird.id}|">View details</a>-->
                <a th:href="@{/bird-details/{attendance}(attendance=${attendance.id})}">View details</a>
            </td>
        </tr>

        </tbody>
    </table>
    <a href="/add-attendance" th:href="@{/add-attendance}">Add new present</a>
</header>
</body>
</html>